<template>
    <div class="fz-base-form" :class="{'fz-base-form--without-padding': withoutPadding}">
        <div class="fz-base-form__header">
            <div v-if="title" class="fz-base-form__title">
                {{ title }}
            </div>
            <div class="fz-base-form__add-button"></div>
        </div>
        <div class="fz-base-form__grid">
            <template v-for="f in fieldsModel">
                <div
                    :class="[`col-${f.cols}`, f.class]"
                    :key="f.id">
                    <slot
                        :field="fieldsLocal"
                        :name="'field.' + f.fieldKey"
                    >
                        <Component
                            :is="getComponent(f)"
                            :value="fieldsLocal[f.fieldKey]"
                            :errors="errors[f.fieldKey]"
                            :class="`fz-bf-field-${f.fieldKey}`"

                            @input="onInput($event, f.fieldKey)"
                            @blur="touchField(f.fieldKey)"

                            v-model="fieldsLocal[f.fieldKey]"
                            v-bind="getComponentProps(f)"
                        />
                    </slot>
                </div>
            </template>
        </div>
        <div
            v-if="footer"
            class="fz-base-form__buttons">
            <div
                @click="onCancel"
                class="fz-base-form__cancel">
                Отменить изменения
            </div>
            <FZButton
                class="fz-base-form__save"
                @click.prevent="onSave">
                Сохранить
            </FZButton>
        </div>
    </div>
</template>


<script>
    import FieldComponent from './FieldComponent';
    import validateForm from './utils/validateForm'

    export default {
        model: {
            prop: 'fields',
            event: 'filled'
        },
        props: {
            fields: {
                type: [Object, Boolean],
                required: true
            },
            fieldsModel: {
                type: Array,
                required: true
            },
            title: {
                type: String,
                default: ''
            },
            footer: {
                type: Boolean,
                default: true
            },
            inline: {
                type: Boolean,
                default: false
            },
            withoutPadding: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                fieldsLocal: Object.assign({}, this.fields),
                touchedFields: []
            }
        },
        computed: {
            errors() {
                return validateForm(this.fieldsLocal, this.fieldsModel, this.touchedFields)
            },
            hasErrors() {
                return Boolean(Object.keys(this.errors).length)
            }
        },
        methods: {
            getComponent: f => new FieldComponent(f).component,
            getComponentProps: f => new FieldComponent(f).props,

            onInput(v, key) {
                this.fieldsLocal[key] = v
                this.fieldsLocal = Object.assign({}, this.fieldsLocal)

                if (this.inline) {
                    this.touchAllFields()
                    this.$emit('formChange', { form: this.fieldsLocal, valid: !this.hasErrors})
                }
            },

            touchField(fieldName) {
                if (!this.touchedFields.includes(fieldName))
                    this.touchedFields.push(fieldName)

                //trigger for validateForm fn
                this.fieldsLocal = Object.assign({}, this.fieldsLocal)
            },

            touchAllFields() {
                Object.keys(this.fieldsLocal).forEach(key => this.touchField(key))
            },

            onSave() {
                this.touchAllFields()
                this.$nextTick(() => {
                    if (this.hasErrors) return
                    this.$emit('onSave', this.fieldsLocal)
                })
            },

            onCancel() {
                this.$emit('onCancel')
            }
        },
        created() {
            // false means empty fields - set fields from model object then
            if (!this.fields) {
                this.fieldsModel.forEach(f => {
                    let keys = f.fieldKey.split('.')
                    if (keys.length == 1) {
                        this.fieldsLocal[f.fieldKey] = null
                    } else {
                        this.fieldsLocal[keys[0]] = {}
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .fz-base-form{
        &__title {
            font-weight: bold;
            font-size: 19px;
            line-height: 22px;
            letter-spacing: 0.4px;
            padding-bottom: 30px;
        }
        &__grid{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-row-gap: 24px;
            grid-column-gap: 0px;
            @include md() {
                grid-column-gap: 24px;
                padding: 22px;
            }
        }
        &__buttons{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 24px;
        }
        &__cancel{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.2px;
            color: $color-haze;
            margin-right: 24px;
            cursor: pointer;
            padding: 5px;
            &:hover{
                color: $color-dark-navy;
            }
        }
        &--without-padding {
            .fz-base-form__grid {
                padding: 0px;
            }
        }
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-column: auto/span 12;
            @include md() {
                grid-column: auto/span #{$i};
            }
        }
    }

</style>
